body {
    background-color: #f1f5f9;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 200;
    padding: 8px;
    margin: 0px;
}

#card-wrapper {
    display: flex;
    flex: 3;
    justify-content: center;
    height: 80vh;
}

#card {
    display: flex;
    background-color: white;
    height: 30%;
    width: 30%;
    margin: 5px;
    border: #e2e8f0 solid 1px;
    border-radius: 10px;
    box-shadow: 0.2em 0.2em 0.2em rgba(0,0,0,0.3);
}